<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<link href="SpryAssets/SpryTabbedPanels.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/post.css"/>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script src="SpryAssets/SpryTabbedPanels.js" type="text/javascript"></script>
<!--[if IE 6]>
    <script type="text/javascript" src="js/DD_png-min.js"></script>
	<script type="text/javascript">
	DD_belatedPNG.fix('.nav,.txt,.main');
	</script>
<![endif]-->
<title>添加文章</title>
</head>

<body>
 <div id="container">
 <!--标题-->
  <div id="top">
   <div id="title">
    <p class="title_cn">8DUCMS 网站管理平台</p>
    <p class="title_en">Company WebSite Management System</p>
   </div>
   <div class="select">
    <div class="main" onclick="show_li()" onmouseout="hide_li()">快捷菜单<span>进入快捷菜单</span></div>
    <ul id="main_show" class="main_li" onmousemove="show_li()" onmouseout="hide_li()">
     <li><a href="#" class="addpost">添加新文章</a></li>
     <li><a href="#" class="addlist">添加新栏目</a></li>
     <li><a href="#" class="addlink">添加新链接</a></li>
     <li><a href="#" class="setinfos">修改系统设置</a></li>
    </ul>
   </div>
   <div class="set">
   <p class="welcome">欢迎您， admin !  <span><a href="#">修改个人资料</a> | <a href="#">登出</a></span></p>
   <div class="clear"></div>
   <p class="info"><a href="#">浏览网站</a> | <a href="">帮助</a> | <a href="#">联系我们</a></p>
   </div>
   <div class="clear"></div>
  </div>
  <!--内容-->
  <div id="content">
  <!--导航条-->
   <div class="nav">
    <div class="top">
     <div class="bottom">
      <div class="navcontent">
       <ul>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="1"><span class="home"></span>管理首页</a></li>
        <li class="second">
         <a href="#" onclick="sclicked(this.id)" id="101">二级菜单</a>
         <a href="#" onclick="sclicked(this.id)" id="102">二级菜单</a>
         <a href="#" onclick="sclicked(this.id)" id="103">二级菜单</a>
        </li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="2"><span class="content"></span>内容管理</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="3"><span class="list"></span>栏目列表</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="4"><span class="guest"></span>留言管理</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="5"><span class="link"></span>友情链接</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="6"><span class="setinfo"></span>设置信息</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="7"><span class="club"></span>会员管理</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="8"><span class="admin"></span>管理帐号</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="9"><span class="tools"></span>自定义菜单</a></li>
        <li class="first"><a href="#" onclick="clicked(this.id)" id="10"><span class="tools"></span>自定义菜单</a></li>
        <li class="second">
         <a href="#" onclick="sclicked(this.id)" id="104">二级菜单</a>
         <a href="#" onclick="sclicked(this.id)" id="105">二级菜单</a>
         <a href="#" onclick="sclicked(this.id)" id="106">二级菜单</a>
        </li>
       </ul>
      </div>
     </div>
    </div>
   </div>
   <!--右边-->
   <div class="contetn_right">
    <div class="main">
     <div id="TabbedPanels1" class="TabbedPanels">
       <ul class="TabbedPanelsTabGroup">
        <li class="TabbedPanelsTab firstTab" tabindex="0"><div class="left"><div class="right">添加文章</div></div></li>
        <li class="TabbedPanelsTab" tabindex="0"><div class="left"><div class="right">栏目属性</div></div></li>
        <li class="TabbedPanelsTab" tabindex="0"><div class="left"><div class="right">添加新的栏目</div></div></li>
       </ul>
      <div class="TabbedPanelsContentGroup">
        <div class="TabbedPanelsContent">
        <!--添加文章-->
         <div class="tab_content">
          <div class="title_div"><label for="title" class="title_text">标题：</label><div class="title_p"><p class="title_txt"><input class="title_in" type="text" value="在此输入标题..."/></p> 提示：&lt;?php echo $archive-&gt;title; ?&gt;</div></div>
          <div class="list_div"><label for="title" class="title_text">所属栏目：</label><div class="title_p"><select name="s"><option>选择所属栏目...</option><option>国内新闻</option></select>
             &nbsp;&nbsp;提示：&lt;?php echo $archive-&gt;title; ?&gt;</div></div>
          <div class="edit_txt">编辑框。。。自已套</div>
          <div class="code_tip">提示：&lt;?php echo $archive-&gt;title; ?&gt;</div>
          <div><input name="" type="submit" value="保存文章" class="save_btn"/> <input name="" type="reset" value="重置文章" class="save_btn" /></div>
          <div class="tip">以下是选填信息，不填则系统自动完成</div>
          <div class="att">附件信息 <span>点击展开与关闭</span></div>
          <!--附件信息-->
          <div class="att_bottom">
           <div class="attinfo">
            <div class="clear"></div>
            <div class="att_txt">
             附件信息
            </div>
           </div>
          </div>
          <div class="att">自定义信息 <span>点击展开与关闭</span></div>
          <!--自定议信息-->
          <div class="att_bottom">
           <div class="attinfo">
            <div class="clear"></div>
            <div class="att_txt">
     		 <div class="webtitle_text"><label for="title" class="title_text">网页标题：</label><div class="title_p"><p><input type="text" maxlength="50" class="webtitle_txt"/></p></div></div>
             <div class="clear"></div>
             <p class="tip_webtitle">提示：长度控制在50个字符以内! &nbsp;&lt;?php echo $archive-&gt;title; ?&gt;</p>
             <div class="word_container"><label for="title" class="title_text">关键字：</label>
               <div class="title_p"><div class="word"><textarea rows="5" class="words"></textarea></div></div>
             </div>
             <div class="clear"></div>
             <p class="tip_webtitle">提示：长度100个字符以内! &nbsp;&lt;?php echo $archive-&gt;title; ?&gt;</p>
            </div>
           </div>
          </div>
         <div class="bottom_info" id="close1">
          <p class="p1">排序规则：优先以排序编号逆向排序，次以栏目ID正向排序。</p>
          <p class="p2">栏目级别：通过点击前面的展开合拢小图标进行栏目多级别的操作，更直观地看到自己的栏目状况。</p>
          <span onclick="info_close1()"></span>
         </div>
         </div>
        </div>
        <div class="TabbedPanelsContent">
         <div class="tab_content">内容 2</div>
        </div>
        <div class="TabbedPanelsContent">
         <div class="tab_content">内容 2</div>
        </div>
      </div>
     </div>
     <div class="main_bottom"></div>
    </div>
   </div>
   <!--版权-->
   <div class="clear"></div>
   <div id="footer">
    <div class="line"></div>
    <div class="footer_info">
     <p class="date">Copyright © 2002-2010 8DUCMS. 第一线网站建设 版权所有</p>
     <p class="help"><a href="#">帮助</a> | <a href="#">联系我们</a></p>
    </div>
   </div>
  </div>
 </div>
<script type="text/javascript">
function show_li(){
	document.getElementById("main_show").style.display="block";
}
function hide_li(){
	document.getElementById("main_show").style.display="none";
}
function info_close(){
	document.getElementById("close").style.display="none";
}
function info_close1(){
	document.getElementById("close1").style.display="none";
}
$(document).ready(function(){
	$(".first").click(function(){
		$(this).next(".second").toggle();
		})
});
function clicked(id)
	{
		for(i=1;i<11;i++)
		{
			if(i==id)
			{
				document.getElementById(i).className='cc';
			}
			else
			{
				document.getElementById(i).className='';
			}
			
		}
	}
function sclicked(id)
	{
		for(i=101;i<107;i++)
		{
			if(i==id)
			{
				document.getElementById(i).className='ss';
			}
			else
			{
				document.getElementById(i).className='';
			}
			
		}
	}
var TabbedPanels1 = new Spry.Widget.TabbedPanels("TabbedPanels1");
var i,j,k,l;
i=0;
j=0;
k=0;
l=0;
$(".jia_1").click(function(){
	$(this).parent().parent().siblings(".next").toggle();
	if(i==0){
	$(this).removeClass("jia");
	$(this).addClass("jian");
	i=1;
	}else{
	$(this).removeClass("jian");
	$(this).addClass("jia");
	i=0;
	}
});
$(".jia_2").click(function(){
	$(this).parent().parent().siblings(".next").toggle();
	if(j==0){
	$(this).removeClass("s_jia");
	$(this).addClass("jian");
	j=1;
	}else{
	$(this).removeClass("jian");
	$(this).addClass("s_jia");
	j=0;
	}
});
$(".jia_3").click(function(){
	$(this).parent().parent().siblings(".next").toggle();
	if(k==0){
	$(this).removeClass("s_jia");
	$(this).addClass("jian");
	k=1;
	}else{
	$(this).removeClass("jian");
	$(this).addClass("s_jia");
	k=0;
	}
});
$(".jia_4").click(function(){
	$(this).parent().parent().siblings(".next").toggle();
	if(l==0){
	$(this).removeClass("s_jia");
	$(this).addClass("jian");
	l=1;
	}else{
	$(this).removeClass("jian");
	$(this).addClass("s_jia");
	l=0;
	}
});

 $(".search_txt").focus(function(){
    var txt_u = $(this).val();
	if(txt_u=="输入关键字..."){
	  $(this).val("");
	  $(this).css({"color":"#000"});
	}
 });
  $(".search_txt").blur(function(){
    var txt_u = $(this).val();
	if(txt_u ==""){
	  $(this).val("输入关键字...");
	  $(this).css({"color":"#dcdcdc"});
	}
 });
 $(".title_in").focus(function(){
    var txt_i = $(this).val();
	if(txt_i=="在此输入标题..."){
	  $(this).val("");
	  $(this).css({"color":"#000"});
	}
 });
  $(".title_in").blur(function(){
    var txt_i = $(this).val();
	if(txt_i ==""){
	  $(this).val("在此输入标题...");
	  $(this).css({"color":"#dcdcdc"});
	}
 });
  $(".txt").focus(function(){
	  $(this).css({"border":"1px solid #b1dcfc"})
});
  $(".txt").blur(function(){
	  $(this).css({"border":"none"});
	  alert("修改成功！")
 });
   $(".idtxt").focus(function(){
	  $(this).css({"border":"1px solid #b1dcfc"})
});
  $(".idtxt").blur(function(){
	  $(this).css({"border":"none"});
	  alert("排序成功！")
 });
 $(".att").click(function(){
	 $(this).next(".att_bottom").toggle();
	 })
</script>
</body>
</html>
